// Test
$tc1: rgb(255, 0, 0);
$tc2: rgb(17, 0, 255);
$tc3: rgb(9, 255, 0);
$tc4: rgb(255, 251, 0);
$tc5: rgb(255, 0, 221);
// Theme
$text-color: rgb(255, 255, 255);
$theme-color: #221e17;
$theme-color-08:#221e17ef;
$theme-color-05: #fffaee4d;
// 產品
$pro_01-text: "切片橘麥";
$pro_01-texts: "新鮮現切的焗烤局賣，使用來自阿爾卑斯山下小鎮的麥香。";
$pro_01-images: url("../images/item_0000_切片橘麥.jpg");
$pro_02-text: "麥香小麥";
$pro_02-texts: "香濃麥香，飄揚整個小巷，所有人都愛。";
$pro_02-images: url("../images/item_0001_麥香小麥.jpg");
$pro_03-text: "輕鬆硬法";
$pro_03-texts: "看似輕鬆，但實際上咬起來卻很硬。";
$pro_03-images: url("../images/item_0002_輕鬆硬法.jpg");
$pro_04-text: "忘記橘派";
$pro_04-texts: "就像是你昨晚喝得爛醉的派對，什麼都忘了。";
$pro_04-images: url("../images/item_0003_忘記橘派.jpg");
$pro_05-text: "來香可頌";
$pro_05-texts: "一首會招來運氣的歌頌聲，悅耳動聽又好吃。";
$pro_05-images: url("../images/item_0004_來香可頌.jpg");
$pro_06-text: "堆疊法式";
$pro_06-texts: "來自法國的頂級廚師所設計給平民的高級美食。";
$pro_06-images: url("../images/item_0005_堆疊法式.jpg");
$pro_07-text: "法國麵包";
$pro_07-texts: "來自法國巴黎小巷的不知名師父所發明。";
$pro_07-images: url("../images/item_0006_法國麵包.jpg");
$pro_08-text: "鞠麥切片";
$pro_08-texts: "單純、切片。簡單。";
$pro_08-images: url("../images/item_0007_鞠麥切片.jpg");
$pro_09-text: "起司包";
$pro_09-texts: "爆漿起司，從裡到外都是起司的牽絲。";
$pro_09-images: url("../images/item_0008_起司包.jpg");